@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: local('Billabong'), url('./fonts/Billabong.woff') format('woff');
  }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #3e3e3e;
}
a.header.item {
  font-family: Billabong;
  font-size: 22px;
  text-shadow: 1px 4px 1px black;
  /* padding: 0; */
  /* margin: auto; */
}

.instagram-login {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(101, 89, 202)), color-stop(30%, rgb(188, 49, 143)), color-stop(50%, rgb(227, 63, 95)), color-stop(70%, rgb(247, 118, 56)), to(rgb(254, 198, 109)));
  background: -webkit-linear-gradient(rgb(101, 89, 202), rgb(188, 49, 143) 30%, rgb(227, 63, 95) 50%, rgb(247, 118, 56) 70%, rgb(254, 198, 109) 100%);
  background: -o-linear-gradient(rgb(101, 89, 202), rgb(188, 49, 143) 30%, rgb(227, 63, 95) 50%, rgb(247, 118, 56) 70%, rgb(254, 198, 109) 100%);
  background: linear-gradient(189.9deg ,rgb(101, 89, 202), rgb(188, 49, 143) 30%, rgb(227, 63, 95) 50%, rgb(247, 118, 56) 70%, rgb(254, 198, 109) 100%);
  color: rgb(255, 255, 255);
  width: 200.9px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  border: 0px solid transparent;
  font-size: 16px;
  font-family: proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  -webkit-box-shadow: 0px 4px 10px -1px #fa984e;
  box-shadow: 0px 4px 10px -1px #2f2f2f;
  margin: auto;
  outline: none;
  cursor: pointer;
  background: -webkit-linear-gradient(256.1deg,rgb(101, 89, 202) 28%, rgb(188, 49, 143) 44%, rgb(227, 63, 95) 50%, rgb(247, 118, 56) 70%, #ff0 100%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}


.instagram-login:hover {
  box-shadow: 0px 3px 3px -2px #2a2a2a;
  transition: .5s;
}


.insta-block--login {
  display: grid;
  place-items: center center;
  position: absolute;
  height: 35%;
  width: 100%;
}


.ui.item.simple.dropdown {
  right: 0;
  position: absolute;
  padding: 13px;
  line-height: 3.5em;
}

.ui.container {
  width: 100%;
  margin-left: 0px!important;
  margin-right: auto!important;
  border-top: 2px solid #e03997;
}

.ui.fluid.category.search {
  padding: 1.3em;
}


.section {
  margin-top: 6.6em;
}

.card {
  padding: 24px;
  font-size: 34px;
  font-weight: 100;
  background: white;
  color: black;
  border-radius: 5px;
  width: auto;
  height: 186px;
  -webkit-box-shadow: 0px 7px 95.8px 4.7px #1b1c1d;
  box-shadow: 0px 7px 95.8px 4.7px #1b1c1d;
  margin: auto 5%;
}


.card-title {
  color: #e03996;
  font-size: 40.7px;
  font-weight: 500;
  text-shadow: 0px 0px white;
  text-align: center;
}

.card-title-mini {
  color: #86737d;
  font-size: 15px;
  text-align: center;
  line-height: 3;
}

.followers {
  background: url(../images/followers.png) center center no-repeat;
  background-size: 54px;
  height: 63px;
  width: 100%;
}

.posts {
  background: url(../images/media.png) center center no-repeat;
  background-size: 66px;
  height: 63px;
  width: 100%;
}

.following{
  background: url(../images/following.png) center center no-repeat;
  background-size: 44px;
  height: 63px;
  width: 100%;
}

.likes{
  background: url(../images/like.png) center center no-repeat;
  background-size: 50px;
  height: 63px;
  width: 100%;
}


/* charts*/

.charts-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  /* width: 800px; */
  /* height: 800px; */
  background-color: rgb(255, 255, 255);
}

.card.big {
  width: auto;
  height: 490px;
}

.linear-caption {
  font-weight: 100;
  color: #808080;
  font-size: 15px;
  margin-top: -155.4px;
}

/* Animated Backgrround  */

body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: -webkit-linear-gradient(135deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: -o-linear-gradient(135deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: -webkit-linear-gradient(256.1deg,rgb(101, 89, 202) 28%, rgb(188, 49, 143) 44%, rgb(227, 63, 95) 50%, rgb(247, 118, 56) 70%, #ff0 100%);
  background: #3c3c3c;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}




/* For Text gradient */

.linear-wipe {
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #FFF), color-stop(40%, #FF0), color-stop(60%, #FF0), color-stop(80%, #FFF));
  background-size: 200% auto;
  color: #000;
  font-weight: 600;
  font-size: 38px;
  line-height: 2;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 1s linear infinite;
  animation: shine 5s linear infinite;
}
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
